.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(244, 244, 244);
}

.header button {
    margin: 0 5vw;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.header button:hover {
    cursor: pointer;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10vw;
}