.login-section {
    background: #141E30;
    background: linear-gradient(to right, #335479, #141E30);
    height: 100vh;
    display: flex;
    align-items: center;
}

#login-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-wrap {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 1rem rgba(48, 45, 64, 0.839);
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 50vw;
    border-radius: 0.5rem;
    border: 2px solid white;
}

.login-wrap h2 {
    font-size: 5.5rem;
    display: flex;
    width: 50%;
    padding: 2rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-image: url('https://www.autoguide.com/blog/wp-content/gallery/nissan-nv200-compact-cargo-van/nissan-nv200-cargo-van-09.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: white;
    text-shadow: -2px -2px 0 black;
    margin: 0;
}


#login-form input {
    box-sizing: border-box;
    margin: 1rem;
    padding: 0.75rem;
    transition: 0.2s;
    height: 2.5rem;
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    margin-right: 0;
    padding-right: 0;
}

.btn-submit {
    margin: 1rem;
    margin-top: 1.2rem;
    padding: 1rem;
    height: 4rem;
    font-size: 1.2rem;
    background-color: rgb(31, 17, 81);
    color: white;
    border: none;
    border-radius: 0.5rem;
}

.btn-submit:hover {
    background-color: rgb(17, 9, 47);
    color: white;
    cursor: pointer;
}

#login-form input:hover {
    border-radius: 0.2rem;
    max-height: 2.4rem;
    border: 1px solid rgb(17, 114, 250);
}

#login-form input:focus {
    border-radius: 0.2rem;
    max-height: 2.5rem;
    border: 2px solid rgb(17, 114, 250);
}

.registration-link {
    padding-left: 1rem;
    color: rgb(178, 178, 178);
    font-size: 0.75rem;
}

.registration-link:hover {
    color: rgb(109, 109, 109);
}

.btn-forgot {
    background-color: transparent;
    font-size: 0.75rem;
    border: none;
    width: auto;
    text-align: left;
    padding-left: 1rem;
    margin-top: 0.75rem;
    color: rgb(178, 178, 178);
    text-decoration: underline;
}

.btn-forgot:hover {
    color: rgb(109, 109, 109);
    cursor: pointer;
}

.newpass {
    font-size: 0.75rem;
    text-align: center;
    padding-top: 1rem;
}