.nav-elements {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    padding: 1rem 0;
}


.nav-element {
    text-decoration: none;
    color: black;
    transition: 0.2s;
    padding: 0 0.5rem;
    margin: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-element:hover {
    color: rgb(122, 122, 122);
}

.nav-element-active {
    text-decoration: none;
    transition: 0.2s;
    padding: 0 0.5rem;
    margin: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    color: rgb(42, 165, 21);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-element-active:hover {
    color: rgb(0, 0, 0);
}